## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,84.52,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,2,Harper,LR,75.58,scattered clouds,4.3750,-7.7169,Screensaver
2,5,Itarema,BR,78.03,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
3,12,Nhulunbuy,AU,75.81,broken clouds,-12.2333,136.7667,East Arnhem Real Estate
4,14,Ixtapa,MX,87.03,broken clouds,20.7000,-105.2000,hotel la terminal
5,24,Mayo,US,80.94,clear sky,38.8876,-76.5119,Resorts Resource Group International
6,34,Atuona,PF,77.07,scattered clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
7,35,Singaraja,ID,80.65,few clouds,-8.1120,115.0882,Puri Bagus Lovina Resort
8,37,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
9,40,Naze,JP,80.06,light rain,28.3667,129.4833,Shishime Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Fredericksburg"]
vacation_end = vacation_df.loc[vacation_df['City']=="Fredericksburg"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Huntsville"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Rock Hill"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Aiken"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.to_numpy())[0,5],(vacation_start.to_numpy())[0,6])
end = ((vacation_end.to_numpy())[0,5],(vacation_end.to_numpy())[0,6])
stop1 = ((vacation_stop1.to_numpy())[0,5],(vacation_stop1.to_numpy())[0,6])
stop2 = ((vacation_stop2.to_numpy())[0,5],(vacation_stop2.to_numpy())[0,6])
stop3 = ((vacation_stop3.to_numpy())[0,5],(vacation_stop3.to_numpy())[0,6])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
intineray_py = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(intineray_py)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,553,Fredericksburg,US,81.41,broken clouds,38.3032,-77.4605,Courtyard by Marriott Fredericksburg Historic ...
1,553,Fredericksburg,US,81.41,broken clouds,38.3032,-77.4605,Courtyard by Marriott Fredericksburg Historic ...
2,444,Huntsville,US,84.45,scattered clouds,34.7304,-86.5861,Embassy Suites by Hilton Huntsville
3,373,Rock Hill,US,83.07,clear sky,34.9249,-81.0251,DDCSVC
4,364,Aiken,US,78.71,clear sky,33.5835,-81.5998,Aiken Cottages

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))